@import '../../styles/Colors';
@import '../../styles/Global';

// TODO: fix this
.projects {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
  background-color: $primary-blue;

  &__heading-container {
    position: relative;
    min-height: 285px;
  }
  &__heading {
    font-size: 2.3em;
    font-weight: 500;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: $white;
  }

  &__card-container {
    position: relative;
    bottom: 55px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 30px; /* Spacing between grid items */
    justify-content: center; /* Center the grid items horizontally */
    background-color: $white;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr); /* Single column layout for mobile devices */
    }
    @include respond(phone) {
      grid-template-columns: 1fr; /* Single column layout for mobile devices */
    }
  }

  &__card {
      box-shadow: 0 4px 5px 3px $tech-icon-shadow;
      height: auto;
      background-color: $light-blue;
      border-radius: 7px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 15px;
      padding-right: 15px;
      color: $secondary-blue-dark;
      background-color: transparent;
      transition: all 0.5s ease 0s;
      height: 100%;
      &:hover {
        transform: scale(1.02);
        overflow: hidden;
      }
  }
}