@import 'colors';
@import 'global';

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: $primary-blue;
  color: $white;

  .quote-card-view {
    border: none;
    color: $black;
    background-color: transparent;
  }

  .about-content {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  @media (max-width: 767px) {
    .about-img {
      padding-top: 0;
    }
  }
}

.skills-section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: $white;
  color: $primary-blue;

  @include respond(phone) {
    bottom: 1px
  }
}

.tech-icons {
  font-size: 4.5em;
  margin: 15px;
  padding: 10px;
  padding-bottom: 30px;
  opacity: 0.93;
  border: 1.7px solid $tech-icon-border;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px $tech-icon-shadow;
  overflow: hidden;
  transition: all 0.4s ease 0s;

  @media (max-width: 767px) {
    margin: 10px;
  }

  &:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid $tech-icon-hover-border;
  }
}

.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}

.about-activity {
  list-style: none;
  text-align: left;
  padding-left: 1px;
}

.card-text {
  color: $white;
  text-align: justify;
}

