$primary-blue: #0D659D;
$secondary-blue: #7391C8;
$secondary-blue-dark: #52688F;
$light-blue: #A2C4E0;
$royal-blue: #1390E0;
$black: #000;
$white: #fff;
$light: #E3E7F1;
$yellow: #F7CB2D;
$dark-yellow: #97843d;
$dark-grey-3: #333;  
$light-grey-1: #f7f7f7;

// Tech Icon colors
$tech-icon-border: rgba(137, 180, 230, 0.637);
$tech-icon-shadow: rgba(54, 73, 95, 0.637);
$tech-icon-hover-border: rgba(162, 201, 245, 0.637);

.yellow {
  color: $yellow !important;
}