@import 'Colors';

/* --------- */
/* Navbar  */
/* --------- */
.sticky {
  background-color: $royal-blue;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.navbar {
  position: fixed;
  transition: all 0.3s ease-out 0s;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
  &-toggler {
    position: relative;
    background-color: transparent;
    border-color: transparent;
    span {
      display: block;
      background-color: $white;
      height: 4px;
      width: 27px;
      margin-top: 5px;
      margin-bottom: 5px;
      transform: rotate(0deg);
      left: 0;
      opacity: 1;
    }
    &:focus,
    &:active {
      outline: 0;
    }
    span:nth-child(1),
    span:nth-child(3) {
      transition: transform 0.35s ease-in-out;
    }
    &:not(.collapsed) span:nth-child(1) {
      position: absolute;
      left: 12px;
      top: 10px;
      transform: rotate(135deg);
      opacity: 0.9;
    }
    &:not(.collapsed) span:nth-child(2) {
      height: 12px;
      visibility: hidden;
      background-color: transparent;
    }
    &:not(.collapsed) span:nth-child(3) {
      position: absolute;
      left: 12px;
      top: 10px;
      transform: rotate(-135deg);
      opacity: 0.9;
    }
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color: $royal-blue;
  }
  .navbar-nav .nav-item a::after {
    display: none;
  }
}
.navbar-brand {
  color: $white;
}

.logo {
  height: 1.4em;
  width: 2.5em;
}

.navbar-nav .nav-link {
  color: $white !important;
  padding-right: 1rem;
  padding-left: 1rem;
  &.nav-link {
    padding: 0.8rem 1rem;
  }
  @media (max-width: 767px) {
    &.nav-link {
      padding: 0.7rem 1rem;
    }
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
  a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: relative;
      display: block;
      height: 5px;
      width: 0;
      border-radius: 16px;
      background: $royal-blue;
      bottom: 1px;
      left: 0;
      z-index: -1;
      transition: all 0.3s ease-out 0s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}