@import '../../styles/Colors';
@import '../../styles/Global';

.resume {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-color: $primary-blue;
  color: $white !important;

  &__container {
    justify-content: center;
    position: relative;
  }

  &__row {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }

  &__button {
    max-width: 250px;
  }
}

