@import '../../styles/colors';

/* --------- */
/* Resume */
/* --------- */

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  /* background-image: var(--section-background-color) !important; */
  background-color: $primary-blue;
  color: $white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid $primary-blue;
  position: relative;

  .resume-title {
    line-height: 18px;
    font-size: 0.9em;
    background: $secondary-blue-dark;
    padding: 8px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }

  ul {
    padding-left: 20px;
    text-align: justify;

    li {
      padding-bottom: 10px;
      list-style: none;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: $white;
    border: 2px solid $primary-blue;
  }
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;

  &-btn {
    background-color: $secondary-blue!important;
    border-color: $secondary-blue !important;
    padding: 0.25rem 0.98rem !important;
    border-radius: 5px !important;
    line-height: 1.4 !important;
    transition: 0.3s ease !important;

    &:hover {
      transform: translateY(-2px) !important;
      background-color: $royal-blue !important;
      border-color: $royal-blue !important;
    }
  }

  &-animate {
    animation-name: likeAnimation;
    animation-fill-mode: forwards;
    animation-duration: 0.85s;

    @keyframes likeAnimation {
      0% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;

  &-inner {
    line-height: 1.4em !important;
    background-color: $secondary-blue !important;
    padding: 0.25rem 1.1rem !important;
    vertical-align: middle !important;
    text-align: center !important;

    &:hover {
      transform: translateY(-2px) !important;
      background-color: $royal-blue!important;
      border-color: $royal-blue !important;
    }

    &::after {
      display: none !important;
    }
  }
}