@import '../../styles/Colors';
@import '../../styles/Global'; 

.home {
  position: relative;
  z-index: 1;
  background-image: $image-gradient, url(../../assets/home-bg.png);
  background-color: $light;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 135px;
  padding-top: 30px;
  background-size: cover;

  @include respond(phone) {
    padding-bottom: 285px;
    padding-top: 170px;
  }

  &-header {
    padding-top: 80px;
  }

  &__content {
    padding: 9rem 0 5rem;
    color: $light;
    text-align: left;
    &-heading {
      font-size: 2.4em;
      padding-left: 50px;
    }
    &-heading-name {
      font-size: 2.5em;
      padding-left: 45px;
      &-main-name {
        color: $yellow;
      }
    }
  }
}

.avatar {
  justify-content: center;
  padding-top: 9em;
  display: flex;

  @include respond(phone) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.home-about {
  position: relative;
  padding-bottom: 70px;
  padding-top: 30px;
  background: $white;
  &__description {
    color: $black;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
  }
  &__body {
    padding-top: 50px;
    font-size: 1.2em;
    text-align: left;
  }
}